{% extends "layout.html" %}


{% block title %}
    Delete account
{% endblock %}

{% block main%}
    <form onsubmit="return confirm('Do you really want to delete your account? This is a permanent action');" action = "/account_deletion" method = "POST">
        <div class = "form-group">
            <label for = "current_pswd">Insert password to continue</label>
            <br>
            <input name = "current_pswd" type="password" class="form-control" placeholder="Enter password">
        </div>
        <button class="btn btn-danger" type="submit">Delete Account</button>
    </form>



{% endblock %}