{% extends "layout.html" %}


{% block title %}
    Roots
{% endblock %}

{%block main%}
    <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-xs-11 shop-container">
        <h1 class = "shop-title">ROOTS</h1>
        <span class = "shop-title-subheading">Good plants, good prices</span>
        <form method="POST" action="/shop">
        {%for i in range(length)%}
            <div class = "row p-2 m-2 d-flex align-items-center justify-content-center">
                {%for plant in plants[i*3:i*3 + 3]%}
                    <div class="col-xl-3 col-lg-5 col-md-8 col-sm-8 m-2 d-flex align-items-center justify-content-center">
                        <div class="card shop-card">
                            <img src = "../static/{{plant.name}}.jpg" class = "card-img-top shop-img" alt = "plant">
                            <div class="card-body">
                                <h5 class = "card-title" style="text-align: center;">{{name_dict[plant.name]}}</h5>
                                <p>{{plant.description}}</p>
                                <button type = "submit" name = "submit" value="{{plant.name}}" class = "btn btn-primary flex"><object class = "shop-coin" data = "../static/icons/dollar.svg"></object>{{plant.price}}</button>
                            </div>
                        </div>
                    </div>
                {%endfor%}
            </div>
        {%endfor%}
    </form>
    </div>





{%endblock%}


<!-- <div class="card">
    <img src = "../static/sprout.JPG" class = "card-img-top" alt = "plant">
    <div class="card-body">
        <h5 class = "card-title" style="text-align: center;">Sprout</h5>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut quibusdam unde impedit optio nobis</p>
        <button type = "submit" name = "submit" value="sprout" class = "btn btn-primary">50 coins </button>
    </div>
</div>
<div class="card">
    <img src = "../static/blue_plant.JPG" class = "card-img-top" alt = "plant">
    <div class="card-body">
        <h5 class = "card-title" style="text-align: center;">Sprout</h5>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut quibusdam unde impedit optio nobis</p>
        <button type = "submit" name = "submit" value="blue_plant" class = "btn btn-primary">100 coins </button>
    </div>
</div>
<div class="card">
    <img src = "../static/red_plant.JPG" class = "card-img-top" alt = "plant">
    <div class="card-body">
        <h5 class = "card-title" style="text-align: center;">Sprout</h5>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut quibusdam unde impedit optio nobis</p>
        <button type = "submit" name = "submit" value="red_plant" class = "btn btn-primary">150 coins </button>
    </div>
</div> -->